﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>OS version:<%: Environment.OSVersion %> 
        / Is 64bit OS: <%: Environment.Is64BitOperatingSystem %>
        / Is 64bit Process: <%: Environment.Is64BitProcess%>
    </p>
    <p>
        <a href="~/WebService1.asmx">WebService1</a>        
    </p>
</body>
</html>
